body {
    background-color:rgb(206, 221, 238);
    /*margin-left: 350px;*/
}




p {
    color: black;
    line-height: 1.5;
    font-family: Helvetica, "Times New Roman", times, serif;
    
    border-style: round;
    border-width: 5px;
}

h1 {
    font-size:30px;
    font-family: Helvetica, "Times New Roman", times, serif;
    
}

h2 {
     font-size:25px;
     font-family: Helvetica, "Times New Roman", times, serif;
}